main {
    padding-top: 5%!important;
    margin-bottom: 50px !important;
}

.card-header {
    background-color: #9CAFB7 !important;
    color: #ECE4DB !important;
}

/* colours
FE938C
E6B89C
EAD2AC
9CAFB7
4281A4
ECE4DB
*/
